.reclom {
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 10px;
}

.video {
  margin: 20px;
}
@media (min-width: 0px) and (max-width: 500px) {
  .video {
    width: 100%;
    margin: 20px 0;
  }
}
